[submodule "thirdparty/lietorch"]
	path = thirdparty/lietorch
	url = https://github.com/princeton-vl/lietorch.git
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ext/Depth-Anything"]
	path = ext/Depth-Anything
	url = https://github.com/LiheYoung/Depth-Anything
[submodule "ext/Zoedepth"]
	path = ext/Zoedepth
	url = https://github.com/isl-org/ZoeDepth
