[submodule "thirdparty/lietorch"]
	path = thirdparty/lietorch
	url = https://github.com/princeton-vl/lietorch.git
[submodule "thirdparty/eigen"]
	path = thirdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "thirdparty/simple-knn"]
	path = thirdparty/simple-knn
	url = https://github.com/camenduru/simple-knn.git
[submodule "ext/Depth-Anything"]
	path = ext/Depth-Anything
	url = https://github.com/ChenHoy/Depth-Anything.git
[submodule "ext/Zoedepth"]
	path = ext/ZoeDepth
	url = https://github.com/ChenHoy/ZoeDepth.git
[submodule "thirdparty/diff-gaussian-rasterization-w-pose"]
	path = thirdparty/diff-gaussian-rasterization-w-pose
	url = https://github.com/rmurai0610/diff-gaussian-rasterization-w-pose.git
