defaults:
  - _self_
  # - data: TartanAir/base.yaml
  # - data: DAVIS/base.yaml
  # - data: Replica/base.yaml
  - data: Sintel/base.yaml
  # - data: TotalRecon/base.yaml

hydra:
  run:
    dir: visu/${hydra.job.name}_${now:%Y-%m-%d_%H-%M-%S}

mode: "rgbd"  # "prgbd"
mono_depth: "metric3d-vit_giant2" # 'zoed-nk', 'metric3d-vit_giant2', 'depthany-vitl-outdoor_left', 'depthany-vitl-indoor_left'
device: "cuda:0"

# Control what portion of the video we use
stride: 1
# NOTE chen: using the full resolution looks nice but can produce quite some lags over vnc
downscale: 4 # How to downscale the video buffers
t_start: 0
t_stop: 500

# Do we want to visualize the dynamic objects in the scene?
# NOTE because often the masks are not real dynamics, 
# they will spread into the static scene, creating artifacts
with_dyn: True

# Control speed of the animation
sleep_init: 10.0 # This is the freeze after visualizing a single frame to adjust the camera
delay: 1.0 # This is the delay between frames