pretrained: ./pretrained/droid.pth
buffer: 256 
beta: 0.7  # beta * Distance(R|t) + (1-beta) * Distance(I|t), refer to droid_kernels.cu:frame_distance_kernel 
warmup: 8
upsample: True

motion_filter:
  thresh: 3.0  # Consider new keyframe with motion >

frontend:
  optimize_scales: False # Whether or not to optimize scale of prgbd prior
  steps1: 4 # 1st outer loop with feature correlation
  steps2: 2 # 2nd outer loop with feature correlation
  iters: 4 # Actual BA iterations
  # NOTE this is actually much more important than the window in order to keep many frames in the local optimization!
  # NOTE this slows down the system a lot, since you increase the number of factors drastically
  max_age: 30 # (default: 25) Max age of a factor, we remove these after optimizing them for so long in the current window

  keyframe_thresh: 4.0  # remove keyframe if avg flow < 
  thresh: 16.0   # Add edges between frames within this distance
  window: 25  # local ba window size
  max_factors: 150  # num of edges within local ba
  radius: 5 # Always build edges between nearby frames
  nms: 1

  # In case you want to perform the loop closure in the frontend
  use_loop_closure: False
  loop_window: 60 # Only detect outside these windows, i.e. loops cannot lie within
  loop_thresh: 50.0  
  loop_radius: 3
  loop_nms: 12 # default GO-SLAM: 12

  release_cache: False # Tradeoff: memory vs. speed, This can save up to ~5GB

  
backend:
  warmup: null
  do_refinement: True # Do we want to refine the map afterwards with backend?
  window: 150 # Dont optimize more keyframes to avoid OOM
  thresh: 50.0 # Add edges between frames within this distance
  radius: 2
  nms: 2

  use_loop_closure: False
  loop_window: 50 # NOTE make sure that loop window is not bigger than the general window of the backend
  loop_thresh: 50.0  
  loop_radius: 2
  loop_nms: 12 # default GO-SLAM: 12